<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="stylesheets/stylesheet.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="icon" href="images/e082ab48525a4777b19a68eb18d6bd6f - Copy.png">

        <title>Moda - Profile</title>

    </head>

    <body>
        <!-- naavigation bar -->
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand mr-4 mb-2" href="/">
                <img src="images/e082ab48525a4777b19a68eb18d6bd6f.png" alt="Moda Logo">
            </a>
            <!-- button that appears when window width get smaller -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- navigation bar content -->
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ">
                    <li class="nav-item ml-4 pl-4 pr-4">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item ml-4 pl-4 pr-4">
                        <a class="nav-link" href="/products">Products</a>
                    </li>
                    <li class="nav-item ml-4 pl-4 pr-4">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <!-- navigation bar content that dropdowns for more options -->
                    <li class="nav-item dropdown ml-4 pl-4 pr-4">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            More
                        </a>
                        <div class="dropdown-menu mb-4" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="/profile">Profile     <i class="fas fa-user-circle ml-3"></i></a></a>
                          <a class="dropdown-item" href="/checkout">Checkout       <i class="fas fa-shopping-basket ml-3"></i></a></a>
                          <a class="dropdown-item" href="/logout">Logout       <i class="fas fa-sign-out-alt ml-3"></i></a></a>
                        </div>
                      </li>
                </ul>
            </div>
        </nav>
        

        <% if (messages.update) { %>
          <div class="alert alert-success alert-dismissible fade show"><%- messages.update %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
      <% } %>
  

    <div class="container-fluid">
      <div class="row">
        <!-- col contains the background image and welcom message -->
        <div class="col" id="profileimgbg">
          <!-- bg image -->
          <img src="images/window-g0c6d76965_1920.jpg" class="img-fluid d-block p-4 w-100 rounded-circle">
          <div class="center text-white">
            <h3>Profile:</h3>
            <b></b><h4>Welcome <span class="text-warning"><i><%= uName %></i></h4></b>
            <img class="rounded-circle ml-4 border border-warning" src="images/60BEB6C6-0BE0-FBBC-835D81B24CA820B4.jpg" alt="Trulli" width="200" height="200">
            <!-- OREDER HISTORY ------------------NEEDS TO BE COMPLETED -->
            <!-- collapsable panel for order history -->
            <div class="container">
              <div class="panel-group">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title text-center pr-4 mr-3 mt-4">
                      <a class=" text-success" data-toggle="collapse" href="#collapse1">Order History</a>
                    </h4>
                  </div>
                  <div id="collapse1" class="panel-collapse collapse text-center pr-4 mr-3">
                    <table class="table" id="checkouttable">

                      <tbody id="myTable">
                        <% if(data1.length){
                        for(var i = 0; i< data1.length; i++) {
                          if (i == 0) {%>
                            <tr>
                              <td>
                                  <b><h5 id="td"><%= data1[i].saleId%></h5></b>
                              </td>
                            </tr>
                            <% } else {
                              if (data1[i].saleId != data1[i-1].saleId) {%>
                              <tr>
                                <td>
                                    <b><h5 id="td"><%= data1[i].saleId%></h5></b>
                                </td>
                              </tr>
                            <% }
                          }
                        }
                      }
                        else{ %>
                            <tr>
                                <td colspan="3">No Orders</td>
                            </tr>
                        <% } %>    
                     </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- col contains the form to update profile or delete account -->
        <div class="col " id="profileupbg">
          <div class="center text-center text-white" id="formdiv">
            <h4>Update Details:</h4>
            <form class="text-center text-white mt-4" action="/profile/update" method="post" name="form1">
              <div class="form-group text-white"> 
                <label for="exampleInputImage">Profile Photo: </label><br>
                <input type="file" id="myFile" name="filename" class="btn bg-warning text-white text-center rounded-pill"><br><br>
              </div>
              <div class="form-group">
                  <label for="exampleInputPassword1">Name: </label>
                  <input type="text" class="form-control tect" name="uName" id="uName" value="<%= uName %>" placeholder="Name">
              </div>
              <div class="form-group">
                  <label for="exampleInputEmail1">User Name: </label>
                  <input type="text" class="form-control" name="userName" id="userName" value="<%= userName %>" placeholder="Username">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Password: </label>
                <input type="password" class="form-control" name="userPassword" id="userPassword" value="<%= userPassword %>" placeholder="Password">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address: </label>
                <input type="email" class="form-control" name="uEmail" id="uEmail" aria-describedby="emailHelp" placeholder="Enter email" value="<%= uEmail %>">
              </div>
              <!-- update button -->
              <button type="submit" class="btn btn-warning text-white" id="r">Update</button>
            </form>

            <!-- deletes account -->
            <td><a class="btn btn-danger delete rounded-pill m-4" onclick="return alert('Are You sure?')" href="/profile/delete" id="i">Delete Account <br><i class="fas fa-exclamation-triangle"></i></a></td>  
          
          </div>
        </div>
      </div>      
    </div>
              
    <!-- footer -->
    <footer class="text-center text-lg-start">
      <div class="text-center p-3">
        © 2021 Copyright:
        <a class="text-dark" href="/">Moda.ie</a>
      </div>
    </footer>
    </body>
</html>


<!-- file upload -->
<script>
$('input[type=file]').change(function(e) {
    $in = $(this);
    $in.next().html($in.val());
    
});

$('.uploadButton').click(function() {
    var fileName = $("#fileUpload").val();
    if (fileName) {
        alert(fileName + " can be uploaded.");
    }
    else {
        alert("Please select a file to upload");
    }
});
</script>